# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../s-home\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\localhost\srv\arduino\s-home\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
